/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: 'Oswald', sans-serif;
    --font-secondary: 'Barlow', sans-serif;
    --white: #FBFBFB;
    --blue: #1B2845;
    --gray: #2B2B2B;
    --black: #000;
    --green: #2DD881;
    --small: 1.6em;
    --base: 1.8em;
    --alternative: 2em;
    --medium: 2.4em;
    --big: 5.2em;
    --ultrabig: 8em;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    grid-area: header;
}

.headerbox {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}



nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a {
    color: var(--white);  
    font-size: var(--alternative); 
    position: relative;
}

nav ul a.active,nav ul a:hover {
    color: var(--green);
}

header li {
    color: var(--black);
    list-style-type: none;
    padding: 0 3.4rem;
}

header li a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--green);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

header li a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

header label {
    font-size: 40px;
    cursor: pointer;
    display: none;
}

header input {
    display: none;
}

header img {
    width: 80px;
}

header li a:hover {
    color: var(--green);
}

.section1 {
    background-image: url(../img/bgimg.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.section1__article {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 8em;
}

.section1__article a {
    width: fit-content;
    color: var(--black);
    font-size: var(--medium);
    background-color: var(--green);
    padding: .8rem 1.3rem;
    margin-top: 3rem;
}

.section1__article a:hover {
    background-color: #5cde99;
}

.beneficios {
    margin: 4rem 0;
    display: flex;
    justify-content: center;

}

.flex-container {
    display: flex;
    gap: 4rem;
    width: 80%;
}

.beneficios__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px #0008;
}

.beneficios__article img {
    width: 100%;
}

.beneficios__article p {
    padding: 1.5rem 1rem ;
    font-size: 1.6em;
}

footer {
    background-color: black;
    padding: 3rem 0;
}

.footbox {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 10rem;
}

.footbox__div {
    display: flex;
}

.footbox__div a {
    color: #fff;
    font-size: 2em;
    margin: 3rem;
    font-weight: 200;
}

.footbox__div a:hover {
    color: rgb(159, 159, 159);
}

footer img {
    width: 100px;
}


i {
    color: var(--white);
    padding-right: .5rem;
    font-size: 1.1em;
}

.footbox__div a:hover > i {
    filter: opacity(.5);
}

@media screen and (max-width: 1000px) {
    nav ul a {
        font-size: var(--small);
    }
    .flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .footbox__div {
        flex-direction: column;
    }
    .footbox__div a {
        margin: 1rem;
    }
    header label {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10rem;
        z-index: 1000;
    }
    nav ul li:first-child {
        margin-top: 5rem;
    }
    nav ul a {
        font-size: var(--medium);

    }
    nav ul a.active, nav ul a:hover {
        color: var(--green);
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 6em;
    }
} */