* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*font-family*/
    --font-main: 'Oswald', sans-serif;
    --font-secondary: 'Barlow', sans-serif;
    /* colors */
    --white: #FBFBFB;
    --blue: #1B2845;
    --gray: #2B2B2B;
    --black: #000;
    --green: #2DD881;
    /* font-size */
    --small: 1.6em;
    --base: 1.8em;
    --alternative: 2em;
    --medium: 2.4em;
    --big: 5.2em;
    --ultrabig: 8em;

}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-main) !important;
    display: grid;
    grid-template-areas: 
    "header header"
    "bgr bgr"
    "img info"
    "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(2, 1fr);

}

a {
    text-decoration: none !important;
    color: var(--white);
}

/* HEADER */
.nav-link:hover {
    color: var(--green) !important;
}
 header img {
    width: 80px;
} 



/* BACKGROUND IMG */

.section1 {
    background-image: url(../img/bgimg.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: bgr;
}

.section1__article {
    display: flex;
    justify-content: center;
    flex: 7;
}

.section1__article div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

h1 {
    color: white !important;
    font-size: var(--ultrabig) !important;
}

.section1__article p {
    font-size: var(--small);
    font-family: var(--font-secondary);
    color: var(--white);
    max-width: 400px;
}

.section1__article a {
    width: fit-content;
    color: var(--black) !important;
    font-size: var(--medium);
    background-color: var(--green);
    padding: .8rem 1.3rem;
    margin-top: 3rem;
}

.section1__article a:hover {
    background-color: #5cde99;
}

/* HOME */

.homeimg {
    grid-area: img;
    overflow: hidden;
}

.homeimg img {
    width: 1000px;
    height: 100%;
}

.hometext {
    grid-area: info;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    margin-left: 10rem;
}

.home__box h2 {
    font-size: var(--big);
    width: 400px;
}

.home__box p {
    max-width: 700px;
    min-width: 300px;
    font-size: var(--base);
    font-family: var(--font-secondary);
}

/* FOOTER */

footer {
    background-color: black;
    padding: 3rem 0;
    grid-area: footer;
}

.footbox {
display: flex;
justify-content: center;
align-items: center;
gap: 10rem;
}

.footbox__div {
    display: flex;
}

.footbox__div a {
    color: var(--white);
    font-size: var(--base);
    margin: 3rem;
    font-weight: 200;
}

.footbox__div a:hover {
    color: rgb(159, 159, 159);
}

footer img {
    width: 100px;
}

i {
    color: var(--white);
    padding-right: .5rem;
    font-size: 1.1em;
}

.footbox__div a:hover > i {
    filter: opacity(.5);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    body {
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-columns: auto;
        grid-template-areas: "header"
        "bgr"
        "img"
        "info"
        "footer";
        
    }
    .home__box{
        margin: 0;
    }
    .hometext {
        margin: 2.4rem;
    }
}

@media screen and (max-width:768px) {
    .footbox__div {
        flex-direction: column;
    }
    .footbox__div a {
        margin: 1rem;
    }
    nav ul a {
        font-size: var(--base);
    }
    .homeimg{
        display: flex;
        justify-content: center;
        margin-top: 2.4rem;
    }
    .home__img{
        overflow: visible;
        display: flex;
        justify-content: center;
    }
    .home__img img {
        width: 500px;
    }
    header label {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--black);
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10rem;
        z-index: 1000;
    }
    nav ul li:first-child {
        margin-top: 5rem;
    }
    nav ul a {
        font-size: var(--medium);

    }
    nav ul a.active, nav ul a:hover {
        color: var(--green);
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 6em;
    }
    .home__img img {
        width: 300px;
    }
}