/* Misc */
/*colors*/
/*font-family*/
/* font-size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body {
  font-family: "Oswald", sans-serif; }

/* Partials */
.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .head__box {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center; }
    .head__box i {
      color: #FBFBFB; }
    .head__box nav {
      display: flex;
      align-items: center; }
      .head__box nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .head__box nav ul a {
          color: #FBFBFB;
          font-size: 2em;
          position: relative; }
        .head__box nav ul a.active, .head__box nav ul a:hover {
          color: #2DD881; }
        .head__box nav ul li {
          color: var(--white);
          list-style-type: none;
          padding: 0 3.4rem; }
        .head__box nav ul a:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: #2DD881;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out; }
        .head__box nav ul a:hover:after {
          transform-origin: left;
          transform: scaleX(1); }
    .head__box label {
      font-size: 40px;
      cursor: pointer;
      display: none; }
    .head__box input {
      display: none; }
    .head__box img {
      width: 50px; }

@media screen and (max-width: 873px) {
  .head label {
    display: block; }
  .head #check:checked ~ ul {
    left: 0; }
  .head nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7rem;
    z-index: 1000; }
    .head nav ul a {
      font-size: 2.4em; }
    .head nav ul li:first-child {
      margin-top: 5rem; }
    .head nav ul a.active, .head nav ul a:hover {
      color: #2DD881; } }

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  grid-area: footer; }
  footer .footbox {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer .footbox img {
      width: 150px; }
    footer .footbox__div {
      display: flex;
      flex-direction: column; }
      footer .footbox__div p {
        color: #fff;
        font-size: 2.4em; }
      footer .footbox__div a {
        color: #FBFBFB;
        font-size: 1.8em;
        margin: 1.8rem 0;
        font-weight: 200; }
      footer .footbox__div a:hover {
        color: #9f9f9f; }
      footer .footbox__div i {
        color: #FBFBFB;
        padding-right: .5rem;
        font-size: 1.1em; }
      footer .footbox__div a:hover > i {
        filter: opacity(0.5); }

@media screen and (max-width: 768px) {
  footer .footbox {
    width: 50%;
    justify-content: center;
    gap: 5rem; }
    footer .footbox p {
      text-align: center; }
  .footbox__div {
    flex-direction: column; }
    .footbox__div a {
      margin: 1rem; } }

/* Pages */
#productos .head {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  #productos .head__box {
    padding: 2rem 0; }

#productos .section1 {
  background-image: url(../img/bgimg.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: bgr; }
  #productos .section1__article {
    width: 80%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #productos .section1__article h1 {
      color: white;
      font-size: 8em; }

#productos .section4 {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  grid-area: prod; }
  #productos .section4 .products {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    #productos .section4 .products__box {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap; }
      #productos .section4 .products__box article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        box-shadow: 0 0 8px #0005;
        flex: 1;
        padding: 2.4rem 3rem; }
        #productos .section4 .products__box article img {
          height: 232px; }
        #productos .section4 .products__box article p {
          font-size: 2.4em; }
        #productos .section4 .products__box article p:nth-child(2) {
          align-self: flex-start; }
        #productos .section4 .products__box article p:nth-child(3) {
          font-family: "Barlow", sans-serif;
          font-weight: bold;
          align-self: flex-start; }
        #productos .section4 .products__box article a {
          color: #000;
          font-size: 1.8em;
          background-color: #2DD881;
          font-family: "Barlow", sans-serif;
          padding: .5rem 4rem;
          font-weight: bold; }
        #productos .section4 .products__box article a:hover {
          background-color: #5cde99; }

@media screen and (max-width: 1000px) {
  #productos .products .grid-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, minmax(300px, 400px)); } }

@media screen and (max-width: 768px) {
  #productos .products .grid-container {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: minmax(250px, 350px); } }

@media screen and (max-width: 480px) {
  #productos .section1 h1 {
    font-size: 6em; } }

#beneficios .head {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  #beneficios .head__box {
    padding: 2rem 0; }

#beneficios .section1 {
  background-image: url(../img/bgimg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #beneficios .section1__article {
    width: 80%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #beneficios .section1__article h1 {
      color: #fff;
      font-size: 8em; }

#beneficios .beneficios {
  display: flex;
  justify-content: center; }
  #beneficios .beneficios__box {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 7rem 0;
    gap: 3rem; }
    #beneficios .beneficios__box article {
      box-shadow: 0 0 8px #0005;
      padding: 4rem; }
      #beneficios .beneficios__box article h2 {
        font-size: 3em;
        padding-bottom: 1rem; }
      #beneficios .beneficios__box article p {
        font-size: 2.4em;
        font-family: "Barlow", sans-serif;
        line-height: 40px;
        color: #1b1b1b; }
        #beneficios .beneficios__box article p b {
          color: #000; }
      #beneficios .beneficios__box article ul li {
        font-size: 2.4em;
        font-family: "Barlow", sans-serif;
        line-height: 40px;
        color: #1b1b1b; }
        #beneficios .beneficios__box article ul li b {
          color: #000; }

@media screen and (max-width: 1000px) {
  #beneficios .flex-container {
    flex-direction: column; }
  #beneficios .beneficios__box {
    width: 90%; }
    #beneficios .beneficios__box article {
      padding: 2rem; }
      #beneficios .beneficios__box article p {
        font-size: 1.8em; }
      #beneficios .beneficios__box article ul li {
        font-size: 1.8em; } }

@media screen and (max-width: 768px) {
  #beneficios .beneficios__box article p {
    font-size: 1.6em; }
  #beneficios .beneficios__box article h2 {
    font-size: 1.8em; }
  #beneficios .beneficios__box article ul li {
    font-size: 1.6em; } }

@media screen and (max-width: 480px) {
  #beneficios .section1 h1 {
    font-size: 6em; }
  #beneficios .beneficios__box article p {
    font-size: 1.4em; }
  #beneficios .beneficios__box article h2 {
    font-size: 1.8em; }
  #beneficios .beneficios__box article ul li {
    font-size: 1.4em; } }

#ofertas .head {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  #ofertas .head__box {
    padding: 2rem 0; }

#ofertas .section1 {
  background-image: url(../img/bgimg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #ofertas .section1__article {
    width: 80%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #ofertas .section1__article h1 {
      color: #fff;
      font-size: 8em; }

#ofertas .ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0; }
  #ofertas .ofertas .oferta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 70%; }
    #ofertas .ofertas .oferta1 img {
      width: 100%;
      box-shadow: 0 0 8px #0005; }
    #ofertas .ofertas .oferta1 p {
      font-size: 2.4em;
      padding: 2rem; }
  #ofertas .ofertas .ofertas2 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
    gap: 1rem; }
    #ofertas .ofertas .ofertas2 div {
      width: 49%;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 8px #0005; }
    #ofertas .ofertas .ofertas2 p {
      display: inline-block;
      font-size: 2.4em;
      padding: 1.5rem;
      text-align: center; }
    #ofertas .ofertas .ofertas2 img {
      width: 100%; }

@media screen and (max-width: 768px) {
  #ofertas .ofertas .oferta1 {
    width: 95%; }
  #ofertas .ofertas .ofertas2 {
    width: 95%;
    flex-direction: column;
    align-items: center; }
    #ofertas .ofertas .ofertas2 div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
    #ofertas .ofertas .ofertas2 img {
      width: 100%; } }

#contacto .head {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  #contacto .head__box {
    padding: 2rem 0; }

#contacto .section1 {
  background-image: url(../img/bgimg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #contacto .section1__article {
    width: 80%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #contacto .section1__article h1 {
      color: #fff;
      font-size: 8em; }

#contacto .contactos {
  display: flex;
  justify-content: center;
  margin: 9rem 0; }
  #contacto .contactos__box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1rem; }
    #contacto .contactos__box div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      flex: 1 1; }
      #contacto .contactos__box div i {
        font-size: 4em;
        color: #5d5d5d; }
      #contacto .contactos__box div h2 {
        font-size: 2.4em; }
      #contacto .contactos__box div p {
        font-size: 2em;
        font-family: "Barlow", sans-serif; }

#contacto .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem 0; }
  #contacto .form__box {
    background-color: #000;
    padding: 5rem 12rem;
    border-radius: 12px;
    width: 50%; }
    #contacto .form__box h2 {
      text-align: center;
      color: white;
      font-size: 3em; }
    #contacto .form__box form {
      display: flex;
      flex-direction: column;
      align-items: center; }
    #contacto .form__box input[type="email"], #contacto .form__box input[type="text"] {
      background-color: #000;
      margin: 1.5rem 0;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 5px solid #00FF75;
      outline: none;
      color: #fff;
      font-size: 1.6em;
      padding-left: .5rem;
      font-family: 'Oswald', sans-serif; }
    #contacto .form__box input[type="email"]:focus, #contacto .form__box input[type="text"]:focus, #contacto .form__box textarea:focus {
      background: linear-gradient(to bottom, transparent, #333); }
    #contacto .form__box textarea {
      border: none;
      outline: none;
      resize: none;
      background-color: #000;
      border-bottom: .5rem solid #00FF75;
      height: 160px;
      width: 100%;
      padding-left: .5rem;
      font-size: 1.6em;
      color: white;
      font-family: 'Oswald', sans-serif; }
    #contacto .form__box input[type="submit"] {
      background-color: #00FF75;
      padding: .5rem;
      width: 200px;
      color: #000;
      font-size: 2em;
      cursor: pointer;
      margin-top: 3rem;
      border: none;
      font-family: 'Oswald', sans-serif; }
    #contacto .form__box input[type="submit"]:hover {
      background-color: #27bf6e; }

@media screen and (max-width: 1000px) {
  #contacto .form__box {
    width: 90%; }
  #contacto .contactos__box {
    flex-direction: column;
    gap: 2rem; } }

@media screen and (max-width: 768px) {
  #contacto .form__box {
    padding: 5rem 3rem; } }

@media screen and (max-width: 480px) {
  #contacto .section1 h1 {
    font-size: 6em; } }

#home {
  display: grid;
  grid-template-areas: "bgr bgr" "img info" "section3 section3" "prod prod" "footer footer";
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-columns: repeat(2, 1fr); }
  #home .section1 {
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: bgr; }
    #home .section1__article {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 2;
      margin-bottom: 10rem; }
      #home .section1__article div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #home .section1__article div h1 {
          color: white;
          font-size: 8em; }
        #home .section1__article div p {
          font-size: 1.6em;
          font-family: "Barlow", sans-serif;
          color: #FBFBFB;
          max-width: 400px; }
        #home .section1__article div a {
          width: fit-content;
          color: #000;
          font-size: 2.4em;
          background-color: #2DD881;
          padding: .8rem 1.3rem;
          margin-top: 3rem; }
        #home .section1__article div a:hover {
          background-color: #61ffab; }
  #home .homeimg {
    grid-area: img;
    overflow: hidden; }
    #home .homeimg img {
      width: 1000px;
      height: 100%; }
  #home .hometext {
    grid-area: info;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #home .hometext__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.4rem;
      margin-left: 10rem; }
      #home .hometext__box__title {
        font-size: 5.2em; }
      #home .hometext__box p {
        max-width: 700px;
        font-size: 1.8em;
        font-family: "Barlow", sans-serif;
        margin-right: 2rem; }
  #home .section3 {
    background-image: url(../img/section3.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-size: cover;
    grid-area: section3; }
    #home .section3 article {
      width: 80%; }
    #home .section3 h2 {
      font-size: 5.2em;
      color: white; }
  #home .section4 {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    grid-area: prod; }
    #home .section4 .products {
      width: 80%;
      display: flex;
      flex-direction: column; }
      #home .section4 .products h2 {
        font-size: 2.4em;
        padding: 2rem 0; }
      #home .section4 .products__box {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
        width: 100%; }
        #home .section4 .products__box article {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2.4rem;
          box-shadow: 0 0 8px #0005;
          flex: 1 1;
          padding: 2.4rem; }
          #home .section4 .products__box article img {
            height: 232px; }
          #home .section4 .products__box article p {
            font-size: 2.4em; }
          #home .section4 .products__box article a {
            color: #000;
            font-size: 1.8em;
            background-color: #2DD881;
            font-family: "Barlow", sans-serif;
            padding: .5rem 4rem;
            font-weight: bold; }
          #home .section4 .products__box article a:hover {
            background-color: #5cde99; }
      #home .section4 .products .button {
        background-color: #000;
        width: 377px;
        height: 43px;
        display: flex;
        align-self: center;
        margin-top: 2.4rem; }
        #home .section4 .products .button a:hover {
          background-color: #121212; }
        #home .section4 .products .button a {
          width: 100%;
          color: #fff;
          font-size: 2.4em;
          font-family: "Barlow", sans-serif;
          font-weight: bold;
          text-align: center;
          line-height: 43px; }
  @media screen and (max-width: 1000px) {
    #home {
      grid-template-rows: auto 1fr auto auto auto auto;
      grid-template-columns: auto;
      grid-template-areas: "bgr" "img" "info" "section3" "prod" "footer"; }
      #home .hometext {
        margin: 2.4rem; }
        #home .hometext__box {
          margin: 0; } }
  @media screen and (max-width: 768px) {
    #home .homeimg {
      display: flex;
      justify-content: center; }
      #home .homeimg__img {
        overflow: visible;
        display: flex;
        justify-content: center; }
        #home .homeimg__img img {
          width: 100%; }
    #home .section1 {
      height: 600px; } }
  @media screen and (max-width: 480px) {
    #home .section3 h2 {
      font-size: 4em; }
    #home .section1__article div h1 {
      font-size: 5.2em; }
    #home .homeimg img {
      width: 100%; }
    #home .section4 .products .button {
      width: 95%; }
      #home .section4 .products .button a {
        font-size: 1.8em; } }
