* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*font-family*/
    --font-main: 'Oswald', sans-serif;
    --font-secondary: 'Barlow', sans-serif;
    /* colors */
    --white: #FBFBFB;
    --blue: #1B2845;
    --gray: #2B2B2B;
    --black: #000;
    --green: #2DD881;
    /* font-size */
    --small: 1.6em;
    --base: 1.8em;
    --alternative: 2em;
    --medium: 2.4em;
    --big: 5.2em;
    --ultrabig: 8em;
    /*spacing*/
    --spacing: 2.4rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-main) !important;
    display: grid;
    grid-template-areas: 
    "header"
    "bgr"
    "prod"
    "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;

}

a {
    text-decoration: none !important;
}

/* HEADER */

.nav-link:hover {
    color: var(--green) !important;
}

header img {
    width: 80px;
} 
/* BACKGROUND IMG */

.section1 {
    background-image: url(../img/bgimg.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    grid-area: bgr;
}

.section1__article {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: white !important;
    font-size: var(--ultrabig) !important;
}

/* PRODUCTS */

 .products {
    display: flex;  
    justify-content: center;
    margin: 5rem 0;
    grid-area: prod;
    gap: 2rem;
}

.products__box:hover {
    transform: scale(1.01);
}
.products p {
    font-size: 2em;
    padding: 1.5rem;
}

 
 .products__img {
    max-width: 100%;
}

/* FOOTER */

footer {
    background-color: black;
    padding: 3rem 0;
    grid-area: footer;
}

.footbox {
display: flex;
justify-content: center;
align-items: center;
gap: 10rem;
}

.footbox__div {
    display: flex;
}

.footbox__div a {
    color: var(--white);
    font-size: var(--base);
    margin: 3rem;
    font-weight: 200;
}

.footbox__div a:hover {
    color: rgb(159, 159, 159);
}

footer img {
    width: 100px;
}

i {
    color: var(--white);
    padding-right: .5rem;
    font-size: 1.1em;
}

.footbox__div a:hover > i {
    filter: opacity(.5);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(2, minmax(300px, 400px));
    }
}

@media screen and (max-width:768px) {
    .footbox__div {
        flex-direction: column;
    }
    .footbox__div a {
        margin: 1rem;
    }
    nav ul a {
        font-size: var(--base);
    }
    .grid-container {
        grid-template-rows: repeat(6, auto);
        grid-template-columns:  minmax(250px, 350px);
    }

}

@media screen and (max-width:480px) {
    nav ul a {
        font-size: var(--small);
    }
    h1 {
        font-size: 6em;
    }

}