footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    grid-area: footer;
    .footbox {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 150px;
        }
        &__div {
            display: flex;
            flex-direction: column;
            p {
                color: #fff;
                font-size: $medium;
            }
            a {
                color: map-get($colors , white);
                font-size: $base;
                margin: 1.8rem 0;
                font-weight: 200;
            }   
            a:hover {
                color: rgb(159, 159, 159);
            }
            i {
                color: map-get($colors , white);
                padding-right: .5rem;
                font-size: 1.1em;
            }
            a:hover > i {
                filter: opacity(.5);
            }
        }
    }
}

@media screen and (max-width:768px) {
    footer .footbox {
        justify-content: center;
        gap: 5rem;
        p {
            text-align: center;
        }
    }
    .footbox__div {
        flex-direction: column;
        a {
            margin: 1rem;
        }
    }
}