footer {
    background-color: black;
    padding: 3rem 0;
    grid-area: footer;
    .footbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        img {
            width: 100px;
        }
        &__div {
            display: flex;
            a {
                color: map-get($colors , white);
                font-size: $base;
                margin: 3rem;
                font-weight: 200;
            }   
            a:hover {
                color: rgb(159, 159, 159);
            }
            i {
                color: map-get($colors , white);
                padding-right: .5rem;
                font-size: 1.1em;
            }
            a:hover > i {
                filter: opacity(.5);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .footbox__div {
        flex-direction: column;
        a {
            margin: 1rem;
        }
    }
}