#home {
        display: grid;
        grid-template-areas: 
        "bgr bgr"
        "img info"
        "section3 section3"
        "prod prod"
        "footer footer";
        grid-template-rows: auto 1fr auto auto auto;
        grid-template-columns: repeat(2, 1fr);
    /* section1 */
    .section1 {
        background-image: url(../img/bgimg.jpg);
        background-size: cover;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: bgr;
        &__article {
            @include flex-row-center;
            flex: 2;
            margin-bottom: 10rem;
            div {
                width: 80%;
                @include flex-column-center;
                h1 {
                    color: white;
                    font-size: $ultrabig;
                }
                p {
                    font-size: $small;
                    font-family: $font-secondary;
                    color: map-get($colors , white );
                    max-width: 400px;
                }
                a {
                    width: fit-content;
                    color: map-get($colors , black);
                    font-size: $medium;
                    background-color: map-get($colors , green);
                    padding: .8rem 1.3rem;
                    margin-top: 3rem;
                }
                a:hover {
                    background-color: #61ffab;
                }
            }
        }
    }
    /* sobre nosotros */
    .homeimg {
        grid-area: img;
        overflow: hidden;
        img {
            width: 1000px;
            height: 100%;
        }
    }
    .hometext {
        grid-area: info;
        color: #000;
        @include flex-column-center;
        &__box {
            @include flex-column-center;
            gap: 2.4rem;
            margin-left: 10rem;
            &__title {
                font-size: $big;
            }
            p {
                max-width: 700px;
                font-size:$base;
                font-family: $font-secondary;
                margin-right: 2rem;
            }
        }
    }
    /* section3 */
    .section3 {
        background-image: url(../img/section3.jpg);
        @include flex-row-center;
        align-items: center;
        height: 450px;
        background-size: cover;
        grid-area: section3;
        article {
            width: 80%;
        }
        h2 {
            font-size: $big;
            color: white;
        }
    }
    /* productos destacados */
    .section4 {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        grid-area: prod;
        .products {
            width: 80%;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: $medium;
                padding: 2rem 0;
            }
            &__box {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                flex-wrap: wrap;
                width: 100%;
                article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2.4rem;
                    box-shadow:0 0 8px #0005;
                    flex: 1 1;
                    padding: 2.4rem;
                    img {
                        height: 232px;
                    }
                    p {
                        font-size: $medium
                    }
                    a {
                        color: #000;
                        font-size: $base;
                        background-color: map-get($colors , green );
                        font-family: $font-secondary;
                        padding: .5rem 4rem;
                        font-weight: bold;
                    }
                    a:hover {
                        background-color: #5cde99;
                    }
                }
            }
            .button {
            background-color: #000;
            width: 377px; 
            height: 43px;
            display: flex;
            align-self: center;
            margin-top: 2.4rem;
            a:hover{
                background-color: #121212;
            }
            a {
                width: 100%;
                color: #fff;
                font-size: $medium;
                font-family: $font-secondary;
                font-weight: bold;
                text-align: center;
                line-height: 43px;
            }

            }
        }
    }

/* MEDIA QUERIES */

    @media screen and (max-width: 1000px) {
            grid-template-rows: auto 1fr auto auto auto auto;
            grid-template-columns: auto;
            grid-template-areas:
            "bgr"
            "img"
            "info"
            "section3"
            "prod"
            "footer";
        .hometext {
            margin: 2.4rem;
            &__box {
                margin: 0;
            }
        }
    }

    @media screen and (max-width:768px) {
        .homeimg{
            display: flex;
            justify-content: center;
            &__img{
                overflow: visible;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
        }
        .section1 {
            height: 600px;
        }
    }
    
    @media screen and (max-width:480px) {
        .section3 {
            h2 {
                font-size: 4em;
            }
        }
        .section1{
            &__article {
                div {
                    h1 {
                        font-size: $big;
                    }
                }
            }
    }
        .homeimg {
            img {
            width: 100%;
        }}
        .section4 .products .button {
            width: 95%;
            a {
                font-size:$base;
            }


        }
    }
}

