.section1 {
    background-image: url(../img/bgimg.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: bgr;
}

.section1__article {
    display: flex;
    justify-content: center;
    flex: 7;
}

.section1__article div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

h1 {
    color: white;
    font-size: var(--ultrabig);
}

.section1__article p {
    font-size: var(--small);
    font-family: var(--font-secondary);
    color: var(--white);
    max-width: 400px;
}

.section1__article a {
    width: fit-content;
    color: var(--black);
    font-size: var(--medium);
    background-color: var(--green);
    padding: .8rem 1.3rem;
    margin-top: 3rem;
}

.section1__article a:hover {
    background-color: #5cde99;
}

/* HOME */

.homeimg {
    grid-area: img;
    overflow: hidden;
}

.homeimg img {
    width: 1000px;
    height: 100%;
}

.hometext {
    grid-area: info;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    margin-left: 10rem;
}

.home__box h2 {
    font-size: var(--big);
    width: 400px;
}

.home__box p {
    max-width: 700px;
    min-width: 300px;
    font-size: var(--base);
    font-family: var(--font-secondary);
}