#ofertas {
    .head {
        background-color: black;
        &__box {
            padding: 1rem 0;
        }
    }
    .section1 {
        background-image: url(../img/bgimg.jpg);
        height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include flex-row-center;
        &__article {
            width: 80%;
            @include flex-column-center;
            h1 {
                color: #fff;
                font-size: 8em;
            }
        }
    }
    .ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
        .oferta1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            width: 80%;
            img {
                width: 100%;
            }
            p {
                font-size: 2em;
                padding: 2rem;
            }
        }
        .ofertas2 {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 4rem 0;
            div {
                width: 49%;
            }
            p {
                font-size: 2em;
                padding: 1.5rem;
            }
            img {
                width: 100%;
            }
        }
    }
    @media screen and (max-width:768px) {
        .ofertas {
        .oferta1 {
            width: 95%;
        }
        .ofertas2 {
            width: 95%;
            flex-direction: column;
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
}


}