#productos {
    .head {
        background-color: black;
        &__box {
            padding: 1rem 0;
        }
    }
    .section1 {
        background-image: url(../img/bgimg.jpg);
        background-position: center;
        background-size: cover;
        height: 500px;
        display: flex;
        justify-content: center;
        grid-area: bgr;
        &__article {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                color: white;
                font-size: var(--ultrabig);
            }
        }
    }
    .products {
        display: flex;  
        justify-content: center;
        margin: 5rem 0;
        grid-area: prod;
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, minmax(300px, 400px));
            grid-template-rows: auto auto;
            gap: 2rem;
            .products__box {
                box-shadow: 0px 0px 8px #0008;
                p {
                    font-size: 2em;
                    padding: 1.5rem;
                }
                .products__img {
                    max-width: 100%;
                }
                &:hover {
                    transform: scale(1.01);
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .products .grid-container {
            grid-template-rows: auto auto auto;
            grid-template-columns: repeat(2, minmax(300px, 400px));
        }
    }

        @media screen and (max-width: 768px) {
            .products .grid-container {
                grid-template-rows: repeat(6, auto);
                grid-template-columns:  minmax(250px, 350px);
            }
        }
            @media screen and (max-width:480px) {
                .section1 h1 {
                    font-size: 6em;
                }
            }







}