#productos {
    .head {
        background-color: rgba(0,0,0,.6);
        width: 100%;
        &__box {
            padding: 2rem 0;
        }
    }
    .section1 {
        background-image: url(../img/bgimg.jpg);
        background-position: center;
        background-size: cover;
        height: 600px;
        @include flex-column-center;
        align-items: center;
        grid-area: bgr;
        &__article {
            width: 80%;
            flex: 2;
            @include flex-column-center;
            h1 {
                color: white;
                font-size: 7em;
            }
        }
    }
    .section4 {
        display: flex;
        justify-content: center;
        margin: 10rem 0;
        grid-area: prod;
        .products {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            &__box {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                flex-wrap: wrap;
                article {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2.4rem;
                    box-shadow:0 0 8px #0005;
                    flex: 1;
                    padding: 2.4rem 3rem;
                    .products__img {
                        
                        height: 232px;
                        img {
                            height: 100%;
                        }
                    }
                    p {
                        font-size: $medium;
                    }
                    p:nth-child(2) {
                        align-self: flex-start;
                    }
                    p:nth-child(3) {
                        font-family: $font-secondary;
                        font-weight: bold;
                        align-self: flex-start;

                    }
                    a {
                        color: #000;
                        font-size: $base;
                        background-color: map-get($colors , green );
                        font-family: $font-secondary;
                        padding: .5rem 4rem;
                        font-weight: bold;
                    }
                    a:hover {
                        background-color: #5cde99;
                    }
                }
            }

            
        }
    }
    @media screen and (max-width: 1000px) {
        .products .grid-container {
            grid-template-rows: auto auto auto;
            grid-template-columns: repeat(2, minmax(300px, 400px));
        }
    }

        @media screen and (max-width: 768px) {
            .products .grid-container {
                grid-template-rows: repeat(6, auto);
                grid-template-columns:  minmax(250px, 350px);
            }
        }
            @media screen and (max-width:480px) {
                .section1 h1 {
                    font-size: 6em;
                }
            }







}